<h1>Movie Show Page</h1>

<%= @movie.name %><br>
<%= @movie.creation_year %><br>
<%= @movie.genre %><br>
Actors: <%= @movie.actors_sort_youngest_to_oldest %><br>
Average age: <%= @movie.average_age %>
